<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/aboutus.css">
    <title>STUDENT HOUSING IN TAMPA</title>
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="logo">
				<a href="{{url_for('home')}}" class="logo-link">STUDENT HOUSING</a>
			</div>

			<ul class="nav-links">
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signin')}}" >SIGN IN</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			</ul>

			
		</nav>

		<nav class="mobile-nav">
			<ul class="nav-links">
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signin')}}" >SIGN IN</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			</ul>
		</nav>
		<br>
		<br>
		<br>
		<br>
	</header>
	<body>
		<div class="aboutus">
			<h1>ABOUT PAGE</h1>
			<br>
			<p>Welcome to our website! We understand that finding the right accommodation can be a daunting task for most of the students. That's why we have put together a comprehensive list of accommodations near universities, ranging from temporary to permanent options. Our user-friendly interface allows you to easily search for accommodation options that fit your needs and budget. We also provide detailed information about each accommodation, including location, amenities, and reviews from previous tenants. We hope that our website will make your transition to studying abroad as seamless as possible.</p>
			<br><h1>HIGHLIGHTS OF THIS WEBSITE</h1>
			<br><p>At our website, we understand that every student has unique requirements, which is why we offer a wide range of accommodation options. Whether you are looking for a private room or a shared apartment, we have got you covered. You can also filter your search based on your preferences, such as the number of rooms, furniture availability, type of room and more.</p>
			<p>We are constantly updating our website with new and relevant information to ensure that you have access to the best accommodation options. We are also committed to providing exceptional customer service and support throughout your search for accommodation.</p>
			<br><h1>FUTURE SCOPE</h1>
			<br><p>In the future, we plan to expand our offerings to include additional features that will make the process of finding accommodation even easier. For example, we may introduce a chatbot that can help you with any questions or concerns you may have during your search. We may also add more options for student-friendly accommodation in all universities, such as homestays or co-living spaces.</p>
		</div>
		<div class="head">
			<h1>ABOUT DEVELOPERS</h1>
		</div>
			<div class="author">
				<a href="#">
					<img src="static/images/Aswith.jpg" alt="Author 1">
					<h2>Aswith Kovvuri</h2>
				</a>
				<p>I worked as a Senior Software Developer at Bosch for four years, where I honed my skills in programming languages and development methodologies. Now, pursuing a Master's degree in Business Analytics and Information Systems at the University of South Florida. I worked on creating the home page, about us, university pages, footer, a bar chart using Chart.js and designed a slideshow of images using Bootstrap and JavaScript.</p>
				<a href="https://www.linkedin.com/in/aswith-kovvuri/">View LinkedIn Profile</a>
			</div>
			<div class="author">
				<a href="#">
					<img src="static/images/Prathyusha.jpg" alt="Author 2">
					<h2>Prathyusha Vattikuti</h2>
				</a>
				<p>I am a graduate major at University of South Florida pursuing Business Analytics and Information Systems. I have over two years of work experience as Programmer Analyst at Cognizant where I worked on several progamming languages along with the unit testing. For our website, I worked on sign in/signup page and search page as well as the navigation bar where I used html, css and javascript and made sure they were responsive across all devices.</p><br>
				<a href="https://www.linkedin.com/in/prathyusha-vattikuti-b101b8193/">View LinkedIn Profile</a>
			</div>
			<div class="author">
				<a href="#">
					<img src="static/images/Naveen.jpg" alt="Author 3">
					<h2>Naveen Kumar</h2>
				</a>
				<p>I am currently a student at the University of South Florida, pursuing a degree in Business Analytics and Information Systems. I worked on contact us page and collected data for all the pages, developed graphics, logos, icons, and other visual components that improve the user experience and communicate the website's message, I made a contribution to the website's visual design.</p><br>
				<br>
				<a href="https://www.linkedin.com/in/naveen-kumar-kavila-172394183/">View LinkedIn Profile</a>
			</div>
			<div class="author">
				<a href="#">
					<img src="static/images/Raviteja.jpg" alt="Author 4">
					<h2>Ravi Teja</h2>
				</a>
				<p>I'm a graduate student from university of south Florida pursuing business analytics and information systems. I have 2+ years of Strong analytical and consultative mindset, thrive to excel in a dynamic environment. Self-sufficient, fast-paced, and have a passion for data analytics in Digital Marketing, Web and Ecommerce fields. For our website, I took care of final refactoring of the code and checking the responsiveness of the site.</p><br>
				<br>
				<a href="#">View LinkedIn Profile</a>
			</div>
	</body>
	<footer>
		<div class="container">
		  <div class="row">
			<div class="col-md-6">
			  <h3><img class="logo" src="static/images/logo.png" alt="logo"> Student Housing in Tampa</h3>
			  <p>© 2023 Student Housing Tampa. All rights reserved.</p>
			</div>
			<div class="col-md-3">
			  <h4>Quick Links</h4>
			  <ul>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">FAQ</a></li>
			  </ul>
			</div>
			<div class="col-md-3">
			  <h4>Contact Us</h4>
			  <ul>
				<li><a href="#">Feedback</a></li>
				<li><a href="{{url_for('contactus')}}">Email</a></li>
				<li><a href="{{url_for('contactus')}}">Phone</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </footer>
</body>
</html>
