<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/univ.css">
    <title>STUDENT HOUSING IN TAMPA</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{url_for('home')}}" class="logo-link">STUDENT HOUSING</a>
            </div>

            <ul class="nav-links">
                <li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signup')}}" >SIGN UP</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			</ul>

            
        </nav>

        <nav class="mobile-nav">
            <ul class="nav-links">
                <li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signup')}}" >SIGN UP</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			</ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
    <div class="head1">
        <h1>HOUSING NEAR SAINT LEO UNIVERSITY</h1>
    </div>

    <div class="housing">
        <div class="text">
            <h3>THE STANDARD</h3>
            <p>Students studying in Saint Leo have easy access to off-campus accommodation alternatives because to Laclede Lofts apartments.
                 The apartments are close to shopping, dining, and entertainment areas and are situated in the center of the city. 
                 Laclede Lofts provides students with a convenient and comfortable living environment with a variety of services like completely furnished rooms,
                  a fitness facility, and on-site laundry facilities. Also, living in a residence hall with other students offers chances for networking and socializing.</p>
            <ul>
                <li>1 Bedroom Starting at $1,300</li>
                <li>2 Bedrooms Starting at $1,899</li>
                <li>3 Bedrooms Starting at $2,124</li>
            </ul>
        <a href="https://thestandardtampa.landmark-properties.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/TheStandardApartments.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>WOODWARD LOFTS</h3>
            <p>Students can find contemporary, roomy off-campus housing at West Pine Lofts. All of the essential utilities, 
                including high-speed internet, air conditioning, and on-site laundry facilities, are included in the entire furnishing and 
                equipment of the apartments. Major institutions, restaurants, and retail malls are all close by, making it the ideal location for students.
                 A rooftop lounge area with excellent city views, a fitness center, and secure access control are also included in the building's amenities.
                  Students may live in the heart of the city in luxury and convenience at West Pine Lofts thanks to their flexible lease options and committed
                   management team.</p>
            <ul>
                <li>1 Bedroom Starting at $1,345</li>
                <li>2 Bedrooms Starting at $1,568</li>
                <li>3 Bedrooms Starting at $1,831</li>
            </ul>
        <a href="https://www.woodwardloftslife.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/WoodwardLofts.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>WEST PINE LOFTS</h3>
            <p>
                Students can experience a distinctive and contemporary off-campus living environment at Woodward Lofts. High ceilings, big windows, and exposed brick walls give the loft-style apartments a stylish and roomy atmosphere. With a rooftop patio, game room, and fitness center among the amenities, there are many of places to unwind and interact. A significant benefit of Woodward Lofts' location is that it is close to a variety of eateries, cafes, and entertainment venues.</p>
            <ul>
                <li>1 Bedroom Starting at $1,490</li>
                <li>2 Bedrooms Starting at $1,724</li>
                <li>3 Bedrooms Starting at $1,996</li>
            </ul>
        <a href="https://rentnow.westpinelofts.com/""><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/WestPineLofts.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>CITY OF LACLEDE LOFTS</h3>
            <p>Off-campus housing for students is available at The Standard at Saint Leo, which is conveniently located close to Saint Leo University. Modern conveniences offered by the apartment building include a rooftop pool, exercise center, and grilling stations. In addition, the property offers high-speed internet and study areas for tenants to use. Students can choose this easy choice because the apartments come with individual leases and are completely furnished. Students residing at The Standard can feel comfortable and secure because of the facility's round-the-clock security and maintenance.
            </p>
            <ul>
                <li>1 Bedroom Starting at $1,190</li>
                <li>2 Bedrooms Starting at $1,504</li>
                <li>3 Bedrooms Starting at $2,200</li>
            </ul>
        <a href="https://www.cityloftsonlaclede.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/CityofLacledeLofts.jpg" width="420" height="320">
        </div>
    </div>



    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3><img class="logo" src="static/images/logo.png" alt="logo"> Student Housing in Tampa</h3>
              <p>© 2023 Student Housing Tampa. All rights reserved.</p>
            </div>
            <div class="col-md-3">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Contact Us</h4>
              <ul>
                <li><a href="#">Feedback</a></li>
                <li><a href="{{url_for('contactus')}}">Email</a></li>
				<li><a href="{{url_for('contactus')}}">Phone</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
</body>

</html>