<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/univ.css">
    <title>STUDENT HOUSING IN TAMPA</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{url_for('home')}}" class="logo-link">STUDENT HOUSING</a>
            </div>

            <ul class="nav-links">
                <li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signup')}}" >SIGN UP</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			</ul>

            
        </nav>

        <nav class="mobile-nav">
            <ul class="nav-links">
                <li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signup')}}" >SIGN UP</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			</ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
    <div class="head1">
        <h1>HOUSING NEAR UNIVERSITY OF SOUTH FLORIDA</h1>
    </div>

    <div class="housing">
        <div class="text">
            <h3>CAMBRIDGE WOODS APARTMENTS</h3>
            <p>You wake up with the birds into lush surroundings of soft green lawns, tall stands of native trees,
                and wildlife around every corner. Cambridge Woods apartment homes are the perfect getaway with a
                location ideally situated near school or work.
                And with downtown Tampa just a short drive to the south, you can have it all: nature, top-notch
                academics, and the vibrancy of the city.
                Explore available apartments at Cambridge Woods - now complete with the Smart Home package!
                STYLISH INTERIORS</p>
            <p>At Cambridge Woods, each one-, two-, and three-bedroom apartment home was designed with you in mind.
                Featuring a private patio or balcony and stainless steel appliances and wood plank flooring in select
                upgraded homes,
                Cambridge Woods welcomes you home.</p>
            <ul>
                <li>1 Bedroom Starting at $1,204</li>
                <li>2 Bedrooms Starting at $1,699</li>
                <li>3 Bedrooms Starting at $2,425</li>
            </ul>
        <a href="https://www.udr.com/tampa-apartments/university-center/cambridge-woods/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/CambridgeWoods.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>SUNSTONE PALMS APARTMENTS</h3>
            <p>The Sunstone Palms Apartments offer a dream living experience in a convenient location near the University of South Florida. 
                The community features cozy one-, two-, and three-bedroom apartments with easy access to nearby dining, shopping 
                and entertainment options. Public transportation is readily available, making it easy to explore the vibrant Tampa Palms neighborhood.
                 At Sunstone Palms Apartments, residents can experience the true essence of south Florida living. 
                 The community is committed to building a better tomorrow by fostering a welcoming and inclusive environment today. 
                 Whether one enjoys outdoor activities or prefers to stay indoors, they will find a happy home at Sunstone Palms Apartments.</p>
            <ul>
                <li>1 Bedroom Starting at $1,247</li>
                <li>2 Bedrooms Starting at $1,512</li>
                <li>3 Bedrooms Starting at $1,921</li>
            </ul>
        <a href="https://livebh.com/apartments/sunstone-palms-apartments/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/SunStoneApartments.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>OAK RAMBLE APARTMENTS</h3>
            <p>A fully equipped kitchen with granite-style countertops, stainless steel appliances, corner windows
                and a cozy breakfast bar awaits culinary enthusiasts. 
                The screened-in patio or balcony offers a comfortable place to enjoy the beautiful lake views or tranquil wooded scenery. 
                The apartment features sleek hardwood-style flooring, vaulted ceilings, oversized windows, generous walk-in closets, and smart home technology,
                 providing a comfortable living experience. 
                 The location is perfect for those who want to be at the heart of the area's best, with easy access to the University of South Florida,
                  Interstate 75, and Interstate 275. The community offers a range of amenities, including wooded trails for scenic walks,
                   two tropical swimming pools with sundeck seating and gazebo areas, a 24-hour fitness studio equipped with strength training and
                    cardio equipment, and lighted tennis and sports courts. At Oak Ramble, residents can experience a true sense of community and 
                    everyday access to the amenities they need to live well. Nearby, residents can shop at their favorite retailers, explore nearby parks
                     and trails, and dine at local restaurants. Adventure awaits at the Tampa Riverwalk, or residents can relax and enjoy lakeside living 
                     in a community that places them on the pulse of it all.</p>
            <ul>
                <li>1 Bedroom Starting at $1,477</li>
                <li>2 Bedrooms Starting at $1,664</li>
                <li>3 Bedrooms Starting at $1,934</li>
            </ul>
        <a href="https://oakrambletampa.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/OakRambleApartments.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>EAGLES POINT APARTMENTS</h3>
            <p>Eagles Point Apartments at Tampa Palms in Tampa, Florida offers a peaceful and comfortable living experience with spacious one, two, and three-bedroom apartment homes
                 that have a variety of well-appointed floor plans, each with a balcony or patio. The community features a recently renovated clubhouse, pool, fitness center, and play area,
                  all set on beautifully landscaped grounds. This pet-friendly community is conveniently located just minutes from the University of South Florida and offers easy access to 
                  the best in dining, shopping, and entertainment. Additionally, Eagles Point is located in the prestigious Tampa Palms School District, which includes Tampa Palms Elementary School, 
                  Liberty Middle School, and Freedom High School.

                Eagles Point boasts conveniences such as in-home washers & dryers (available in select homes), oversized closets, and extra storage space.
                Visit Eagles Point Apartments at Tampa Palms in Tampa, Florida today and explore the comfort and style waiting for you.
            </p>
            <ul>
                <li>1 Bedroom Starting at $1,5297</li>
                <li>2 Bedrooms Starting at $1,604</li>
                <li>3 Bedrooms Starting at $2,014</li>
            </ul>
        <a href="https://www.eaglespointapts.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/EaglesPointApartments.jpg" width="420" height="320">
        </div>
    </div>



    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3><img class="logo" src="static/images/logo.png" alt="logo"> Student Housing in Tampa</h3>
              <p>© 2023 Student Housing Tampa. All rights reserved.</p>
            </div>
            <div class="col-md-3">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Contact Us</h4>
              <ul>
                <li><a href="#">Feedback</a></li>
                <li><a href="{{url_for('contactus')}}">Email</a></li>
				<li><a href="{{url_for('contactus')}}">Phone</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
</body>

</html>