<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/univ.css">
    <title>STUDENT HOUSING IN TAMPA</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{url_for('home')}}" class="logo-link">STUDENT HOUSING</a>
            </div>

            <ul class="nav-links">
                <li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signin')}}" >SIGN IN</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			 </ul>

            
        </nav>

        <nav class="mobile-nav">
            <ul class="nav-links">
                <li class="navbar-item"><a class="navbar-link" href="{{url_for('home')}}">HOME</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('signin')}}" >SIGN IN</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('search')}}" >SEARCH</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('aboutus')}}">ABOUT US</a></li>
				<li class="navbar-item"><a class="navbar-link" href="{{url_for('contactus')}}">CONTACT US</a></li>
			 </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
    <div class="head1">
        <h1>HOUSING NEAR UNIVERSITY OF TAMPA</h1>
    </div>

    <div class="housing">
        <div class="text">
            <h3>LAKES OF NORTH DALE</h3>
            <p>Students looking for off-campus housing close to the University of Tampa can consider The Lakes of Northdale. 
                One, two, and three-bedroom apartments are available in this complex.
                 These have amenities like private patios or balconies, in-unit washers and dryers, and fully functional kitchens. 
                 A fitness facility, two pools, a playground, and picnic spots are just a few of the extras available to students at The Lakes of Northdale. 
                 Students can take use of the advantages of both on-campus and off-campus living thanks to a convenient location close to school, as well as 
                 alternatives for dining, shopping, and entertainment.</p>
            <ul>
                <li>1 Bedroom Starting at $1,180</li>
                <li>2 Bedrooms Starting at $1,399</li>
                <li>3 Bedrooms Starting at $1995</li>
            </ul>
        <a href="https://www.irtliving.com/Apartments-In/Tampa-FL/Lakes-Of-Northdale"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/LakesOfNorthDale.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>THE HENRY</h3>
            <p>Students at the University of Tampa have a lot of options for off-campus housing, including The Henry. It is a contemporary facility with study lounges, a fitness center, and a pool in Tampa, Florida. Residents benefit from the convenience of living close to school and being only a short distance from well-liked food and entertainment establishments. The Henry also has roomy floor plans with luxurious finishes and amenities, making it a cozy and fashionable location to live while attending college.</p>
            <ul>
                <li>1 Bedroom Starting at $1,291</li>
                <li>2 Bedrooms Starting at $1,612</li>
                <li>3 Bedrooms Starting at $2,021</li>
            </ul>
        <a href="https://www.thehenrytampa.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/TheHenry.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>AVALON HEIGHTS</h3>
            <p>For University of Tampa students looking for off-campus accommodation, Avalon Heights is a fantastic choice. This neighborhood, which is in the middle of Tampa, offers fully furnished apartments with up-to-date features like a fitness center, swimming pool, and clubhouse. Students can select the ideal floor plan for their needs and tastes from a selection of floor plans. Avalon Heights is also conveniently close to many of dining and entertainment options, as well as the college. The comfort and adaptability of individual leasing options and roommate matching services are available to students living on campus.</p>
            <ul>
                <li>1 Bedroom Starting at $1,217</li>
                <li>2 Bedrooms Starting at $1,664</li>
                <li>3 Bedrooms Starting at $1,994</li>
            </ul>
        <a href="https://foursquare.com/v/avalon-heights-apartments/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/AvalonHeights.jpg" width="420" height="320">
        </div>
    </div>
    <div class="housing">
        <div class="text">
            <h3>WILLOW BROOKE APARTMENTS</h3>
            <p>For University of Tampa students looking for a convenient place to live off campus, Willow Brooke Apartments is a great choice. Residents may simply commute to courses and have rapid access to all that the city of Tampa has to offer because it is only a few miles from the school. A variety of roomy floor plans are available in the apartment building, which also features contemporary amenities like a fitness center, a swimming pool, and on-site laundry facilities. Also, with 24-hour maintenance services, homeowners can always feel comfortable and protected. Overall, for students who value community, comfort, and proximity, Willow Brooke Apartments is a great option.
            </p>
            <ul>
                <li>1 Bedroom Starting at $1,491</li>
                <li>2 Bedrooms Starting at $1,934</li>
                <li>3 Bedrooms Starting at $2,214</li>
            </ul>
        <a href="https://www.livewillowbrooke.com/"><button class="univbtn">KNOW MORE</button></a>
        </div>
        <div class="image">
            <img src="static/images/WillowBrookeApartments.jpg" width="420" height="320">
        </div>
    </div>

    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3><img class="logo" src="static/images/logo.png" alt="logo"> Student Housing in Tampa</h3>
              <p>© 2023 Student Housing Tampa. All rights reserved.</p>
            </div>
            <div class="col-md-3">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Contact Us</h4>
              <ul>
                <li><a href="#">Feedback</a></li>
                <li><a href="{{url_for('contactus')}}">Email</a></li>
				<li><a href="{{url_for('contactus')}}">Phone</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

</body>

</html>